body {
	margin: 5px;
    background-color: rgb(0, 0, 0);
    height: calc(100vh - 10px);
    overflow: hidden;
}

.title
{
    font-size: 60px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace; 
    text-align: center;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container
{
    display: flex;
    flex-direction: row; /* Lay out children horizontally */
    align-items: flex-start; /* Align children to the top */
    overflow: hidden; /* Hide horizontal overflow */
    background-color: black; 
    width: calc(calc(100%) - mod(calc(100%), 2px)); /* The mod() term is used to ensure even width */
    height: calc(calc(100% - 100px - 20px) - mod(calc(100% - 100px - 20px), 2px));
    max-height: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* Controls Section */

.controls-section {
    flex: 0 0 auto; /* Controls take up as much space as they need */
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap; /* Prevent text from wrapping */
    background-color: rgb(46, 46, 46);
    width: 440px;
    height: calc(100% - 40px);
    padding-bottom: 40px;
    max-height: calc(100% - 40px);
  }

.menu-label
{ 
    color:rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    padding-top: 20px;
    font-size: 36px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace; 
    height: 36px;
    width: 100%;
}

.menu
{ 
    color:rgb(255, 255, 255);
    text-align: "left";
    height: calc(100% - 36px);
    max-height: calc(100% - 36px);
    overflow-y: auto;
}

.submenu
{ 
    color:rgb(255, 255, 255);
    margin-left: 10px;
    text-align: "left";
    padding-top: 10px;
}

.submenu-label
{ 
    color:rgb(255, 255, 255);
    margin-left: 20px;
    text-align: "left";
    padding-top: 20px;
    font-size: 28px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace; 
}

.submenu-item
{
    margin-left: 20px;
    padding-top: 2px; 
    padding-bottom: 2px;
}

.submenu-item-no-indent
{
    padding-top: 2px; 
    padding-bottom: 2px;
}

.subsubmenu-item
{
    margin-left: 30px;
    padding-top: 2px; 
    padding-bottom: 2px;
}

.submenu-button
{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.transform-button
{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.transform-button-clicked
{
    background-color: #a0a0a0;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Render Section */

.render-section {
    flex: 1 1 auto; /* Remaining space is devoted to the WebGL element */
    position: relative;
    justify-content: center; /* Center the canvas horizontally */
    align-items: center; /* Center the canvas vertically */
    background-color: rgb(0, 0, 0); /* Just for visibility */
    padding-left: 40px;
    min-height: 100%;
    height: 100%; 
    max-height: 100%;
    min-width: 0;
}

.overall-views-container {
    display: grid; /* Remaining space is devoted to the WebGL element */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px; /* Adjust the gap between the grid items as needed */
    justify-content: center; /* Center the canvas horizontally */
    align-items: center; /* Center the canvas vertically */
    background-color: rgb(0, 0, 0); /* Just for visibility */
    min-width: 0;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

.individual-view-container {
    background-color: rgb(0, 0, 0); /* Just for visibility */
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: calc(100% - 5px);
    max-width: calc(100% - 5px);
    min-height: 0;
    height: calc(100% - 5px);
    max-height: calc(100% - 5px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.view-header{
    flex: 0 0 auto;
    display: flex;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-between;
}

.header-label{
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace; 
    font-size: 24px;
    height: 24px;
    max-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    color:rgb(192, 192, 192);
    text-align: center;
}

.header-button-section {
    display: flex;
    margin-left: auto;
    height: 24px;
    max-height: 24px;
    overflow: hidden;
}

.header-button {
    margin-left: 5px;
    height: 24px;
    max-height: 24px;
}

/* @media (max-width: 1520px) {
    .header-button::after {
        content: '...';
    }

    .header-button {
        font-size: 0; /* Hide text */ /*
        min-width: 50px;
    }
} */

.view-render-area{
    flex: 1 1 auto;
    border: solid 2px rgb(255, 255, 255);
    align-content: center;
    align-items: center;
    height: calc(100% - 20px - 24px - 5px);
    max-height: calc(100% - 20px - 24px - 5px);
}

.render-canvas {
    width: 100%; /* Fill the width of the parent */
    height: 100%; /* Fill the height of the parent */
}

/* Common Demo UI Elements */


.loading-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(96, 96, 96, 0.8);
    align-content: center;
    color: white;
    padding: 20px;
    z-index: 1000;
    width: 50%;
    height: 20%;
    border: 4px solid white;

    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace; 
    font-size: 64px;
    text-align: center;
}

.hidden {
    display: none;
}   

/* Track: webkit browsers */
.standard-number{
    width: 3em;
}

input[type="color"] {
    margin: 5px;
    height: 20px;
    width: 20px;
}
  
input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}


