body {
	margin: 10px;
    background-color: rgb(0, 0, 0);
}

.title
{
    font-size: 60px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.container
{
    display: flex;
    flex-direction: row; /* Lay out children horizontally */
    align-items: flex-start; /* Align children to the top */
    overflow-x: hidden; /* Hide horizontal overflow */
    background-color: black; 
    width: 100%;
    max-height: 100%;
}

.controls-section {
    flex: 0 0 auto; /* Controls take up as much space as they need */
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap; /* Prevent text from wrapping */
    background-color: rgb(46, 46, 46);
    min-width: 15%;
    height: 90vh;
    max-height: 100%;
  }

.render-section {
    flex: 1 1 auto; /* Remaining space is devoted to the WebGL element */
    position: relative;
    justify-content: center; /* Center the canvas horizontally */
    align-items: center; /* Center the canvas vertically */
    background-color: rgb(0, 0, 0); /* Just for visibility */
    padding-left: 40px; 
    min-width: 0;
    height: 90vh; /* Occupy full viewport height */
}

.overall-views-container {
    display: grid; /* Remaining space is devoted to the WebGL element */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px; /* Adjust the gap between the grid items as needed */
    justify-content: center; /* Center the canvas horizontally */
    align-items: center; /* Center the canvas vertically */
    background-color: rgb(0, 0, 0); /* Just for visibility */
    min-width: 0;
    height: 90vh; /* Occupy full viewport height */
}

.individual-view-container {
    background-color: rgb(0, 0, 0); /* Just for visibility */
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    height: 100%;
}

.view-header{
    flex: 0 0 auto;
    display: flex;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
}

.header-label{
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace; 
    font-size: 24px;
    color:rgb(192, 192, 192);
    text-align: center;
}

.header-button {
    margin-left: auto;
}

.view-render-area{
    flex: 1 1 auto;
    border: solid 2px rgb(255, 255, 255);
    align-content: center;
    align-items: center;
}

.render-canvas {
    width: 100%; /* Fill the width of the parent */
    height: 100%; /* Fill the height of the parent */
}

/* Common Demo UI Elements */
.menu
{ 
    color:rgb(255, 255, 255);
    text-align: "left";
    padding-top: 10px;
}

.menu-label
{ 
    color:rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    padding-top: 20px;
    font-size: 36px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace; 
    width: 100%;
}

.submenu
{ 
    color:rgb(255, 255, 255);
    margin-left: 10px;
    text-align: "left";
    padding-top: 10px;
}

.submenu-label
{ 
    color:rgb(255, 255, 255);
    margin-left: 20px;
    text-align: "left";
    padding-top: 20px;
    font-size: 28px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace; 
}

.submenu-item
{
    margin-left: 20px;
    padding-top: 2px; 
    padding-bottom: 2px;
}

.submenu-button-row
{
    padding-top: 2px; 
    padding-bottom: 2px;
}

.subsubmenu-item
{
    margin-left: 30px;
    padding-top: 2px; 
    padding-bottom: 2px;
}

.submenu-button
{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.transform-button
{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.transform-button-clicked
{
    background-color: #a0a0a0;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.shadertext
{
   width: 95%;
   height: 100%;
   min-height: 200px;
   font-size: 32px;
}

.loading-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(96, 96, 96, 0.8);
    align-content: center;
    color: white;
    padding: 20px;
    z-index: 1000;
    width: 50%;
    height: 20%;
    border: 4px solid white;

    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace; 
    font-size: 64px;
    text-align: center;
}

.hidden {
    display: none;
}   

/* Track: webkit browsers */
.standard-number{
    width: 3em;
}

input[type="color"] {
    margin: 5px;
    height: 20px;
    width: 20px;
}
  
input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}


